@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---------- HEADER PAGE ACCUEIL ----------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
header img {
  height: 30px;
}

/* --------- SECTION GEOLOCALISATION -------- */
.zone {
  display: flex;
  flex-direction: column;
}
.zone .zone__location {
  display: flex;
  background-color: #d6d6d6;
  height: 60px;
  font-weight: bold;
  margin-top: 60px;
  box-shadow: inset 0 5px 5px #9c9c9c;
}
.zone .zone__location div {
  width: 40%;
  padding-right: 20px;
  align-self: center;
  text-align: end;
}
.zone .zone__location p {
  font-size: 1.1em;
  width: 60%;
}
.zone .zone__explore {
  background-color: #f0f0f0;
  text-align: center;
}
.zone .zone__explore h1 {
  margin: 50px 15% 15px;
  font-size: 1.8em;
}
.zone .zone__explore p {
  margin: 10px 5% 35px;
  font-size: 1.5em;
  color: #575757;
}

/* --------- SECTION FONCTIONNEMENT --------- */
.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
.functioning h2 {
  align-self: start;
  margin: 0 0 35px 5%;
}
.functioning .functioning__bar {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 30px;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 5px 5px 5px #dddddd;
  position: relative;
  transition: box-shadow 200ms;
}
.functioning .functioning__bar:hover {
  background-color: #f9e8fd;
  cursor: pointer;
  box-shadow: 5px 8px 8px #dddddd;
}
.functioning .functioning__bar:hover > i {
  color: #9356DC;
}
.functioning .functioning__bar .functioning_bar_number {
  position: absolute;
  left: -12px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.functioning .functioning__bar .functioning_bar_number p {
  position: absolute;
  left: 9px;
  top: -15px;
  font-weight: 100;
}
.functioning .functioning__bar i {
  width: 20%;
  text-align: center;
  color: #929292;
}
.functioning .functioning__bar p {
  font-weight: bold;
  font-size: 1.2em;
}

/* ----- SECTION LISTES DES RESTAURANTS ----- */
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding-bottom: 55px;
}
.restaurants h2 {
  margin: 60px 0 30px 5%;
  align-self: flex-start;
}
.restaurants .restaurants__card {
  width: 90%;
  border: solid 1px #f0f0f0;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 5px 5px #dddddd;
  overflow: hidden;
  transition: box-shadow 300ms;
}
.restaurants .restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}
.restaurants .restaurants__card a {
  text-decoration: none;
  color: #000;
}
.restaurants .restaurants__card:hover {
  box-shadow: 0 8px 10px #a8a8a8;
}
.restaurants .restaurants__card .restaurants__new {
  color: #00c060 !important;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #99E2D0;
  border-radius: 5px;
  width: 110px;
  padding: 8px 5px;
  text-align: center;
  position: relative;
  top: -320px;
  right: -280px;
}
.restaurants .restaurants__card .restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants__card .restaurants__card__content .restaurants__card__content__height {
  height: 90px;
}
.restaurants .restaurants__card .restaurants__card__content h3 {
  margin: 20px 0 5px 20px;
  font-size: 1.4em;
}
.restaurants .restaurants__card .restaurants__card__content p {
  margin: 5px 0 20px 20px;
  font-size: 1.2em;
  color: #575757;
}
.restaurants .restaurants__card .restaurants__card__content i {
  width: 20%;
  text-align: center;
  font-size: 2em;
  color: #797979;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
}
header img {
  height: 30px;
}
header ::before {
  position: absolute;
  left: 30px;
  top: 30px;
  color: #000;
  font-size: 1.2em;
}

.menu {
  background-color: #f0f0f0;
}
.menu h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
}
.menu .menu__img {
  width: 100%;
  margin-top: 60px;
}
.menu .menu__above {
  background-color: #f0f0f0;
  border-radius: 50px 50px;
  position: relative;
  z-index: 1;
  top: -50px;
}
.menu .menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.menu .menu__title h1 {
  margin-left: 30px;
}
.menu .menu__title i {
  width: 20%;
  font-size: 2em;
  padding-left: 10px;
  color: #797979;
  cursor: pointer;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 100;
  margin: 30px 0 0 30px;
  align-self: flex-start;
}
.menu hr {
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  border: none;
  position: relative;
  left: -188px;
  margin: 5px 0 20px;
}
.menu .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__list .menu__list__card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 5px 5px 5px #dddddd;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 20px;
}
.menu .menu__list .menu__list__card:hover {
  cursor: pointer;
  box-shadow: 5px 8px 8px #dddddd;
}
.menu .menu__list .menu__list__card h3 {
  font-size: 1.4em;
  margin: 18px 0 5px 15px;
}
.menu .menu__list .menu__list__card p {
  font-size: 1.2em;
  margin: 8px 0 18px 15px;
}
.menu .menu__list .menu__list__card .menu__list__card__number {
  padding: 45px 30px 0 0;
  font-weight: bold;
  font-size: 1.1em;
}
.menu .menu__button {
  text-align: center;
  margin-top: -10px;
  padding-bottom: 30px;
}
.menu .menu__button .menu__button__size {
  padding: 20px 60px;
}

button {
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 65px;
  cursor: pointer;
  box-shadow: 0 5px 5px #a8a8a8;
  transition: box-shadow 200ms;
}
button:hover {
  background: linear-gradient(#ff92fa, #ef43ff);
  box-shadow: 5px 8px 10px #a8a8a8;
}

.footer {
  background-color: #575757;
  padding: 20px 0 25px 30px;
}
.footer h4 {
  margin: 0 0 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  color: #fff;
}
.footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.5em;
}
.footer ul li:nth-child(-n+2) {
  font-weight: bold;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer i {
  width: 4%;
  margin-right: 10px;
}/*# sourceMappingURL=styles.css.map */