button {
    color: #fff;
    background-color: $color-secondary;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing:1px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    margin-bottom: 65px;
    cursor: pointer;
    box-shadow: 0 5px 5px #a8a8a8;
    &:hover {
        background-color: #ff97fa;
        box-shadow: 5px 8px 10px #a8a8a8;
    }
}    